	#index-banner{
		background:linear-gradient(to right,#7547d1,#855cd6,#9370db,#a385e0, #c2adeb);
		padding-bottom:50px;
		}
	#techwords{
		padding-left:70px;
		padding-top:100px;
		}
	#techwords .first{
		margin:30px;
		font-size:50px;
		font-weight:700;
		color:white;
		text-align:left;
		font-family: Montserrat;
	}
	#techwords .second{
		margin:30px;
		font-size:25px;
		color:white;
		text-align:left;
		font-family: Montserrat;
		}
	#techwords .nav-button{
		margin:30px;
	    border-radius:8%;
		border: 2px solid #FFFFFF;
		color:#7547d1;
		padding:10px 20px;
		font-size:30px;
		font-weight:600;
		text-align:left;
		font-family: Montserrat;
	}
	#techimg .img-fluid{
		padding:20px 30px;
		padding-right:60px;
		}
	
	#why .col-sm-3 .card{
		padding:10px;
		margin:5px;
		box-shadow: 2px 2px 4px #666666;
		border: 1px solid white;
		}
	#why .col-sm-3 .card .card-title{
		padding-top:15px;
		text-align:center;
		}
	#why .card-img{
		width:38%;
		height:38%;
		padding-top:15px;
		}
	#happy-customers .col-sm-6 .img-fluid{
		padding:10px;
		}
	#happy-customers .col-sm-6 p{
		font-size:45px;
		text-align:left;
		line-height:110%;
		padding-top:30px;
		font-family: Montserrat;
		font-weight:400;
		}
	#happy-customers .col-sm-6{
		padding-right:100px;
		}
	#happy-customers h1{
		font-family: Montserrat;
		font-size:40px;
		font-weight:600;
		color:#7B4EB3;
		}
	#happy-customers h2{
		font-family: Montserrat;
		font-size:20px;
		font-weight:600;
		}
	#happy-customers{
		padding-bottom:30px;
		}
		
		
	#multiple-card .col-sm-3 .card .card-img {
		width: 35%;
		height:60%;
		}
	#multiple-card .col-sm-3 .card{
		margin:10px;
		padding-top:25px;
		min-height:160px;
		max-width:300px;
		box-shadow: 2px 2px 4px #666666;
		border: 1px solid white;
		}
	#multiple-card .product-button{
		height:80px;
		width:450px;
		font-size:30px;
		font-weight:600;
		border-radius:5%;
		color:white;
		background-image: linear-gradient(to right,#0000CD,#000080,#483D8B);
		}
		
		
	#Slides .carousel-indicators .active{
		background-color: #202020;
		}
	#Slides .carousel-indicators li {
			width: 10px;
			height: 10px;
			border-radius: 100%;
			background-color: #808080;
        }
	#Slides .carousel-indicators {
		bottom:-50px;
		}
	#Slides .carousel-inner {
		margin-bottom:50px;
		}
	#Slides .overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0.0;
		transition: .5s ease;
		background-color:  #000000ad;
		}
	#Slides .col-sm-4 .card:hover .overlay{
		opacity: 1;
		}
	#Slides .overlay-content {
		color: white;
		font-size: 13px;
		position: absolute;
		left:32%;
		top:50%;
		width: 100px;
		height: 35px;
		border-radius: 5%;
		background-color: #302a9b;
		font-family: Montserrat;
		text-align: center;
		}
	#Slides .col-sm-4 .card{
		box-shadow: 2px 2px 1px #666666;
		width:275px;
		margin:10px;
		min-height:500px
		}
	#frames{
		padding-top:30px;
	    }
	#frames .carousel-control-prev {
	    bottom:-10px;
		left:-70px;
		}
	#frames .carousel-control-next {
	    bottom:-20px;
		right:-30px;
		}
	#Indicator .carousel-indicators .active{
		background-color: #202020;
		}
	#Indicator .carousel-indicators li {
			width: 10px;
			height: 10px;
			border-radius: 100%;
			background-color: #808080;
        }
	#Indicator .carousel-indicators {
		bottom:10px;
		}
	#Indicator .carousel-inner {
		margin-bottom:50px;
		}
	#Indicator{
		height:475px;
		overflow-y:auto;
		}
	#Indicator .card{
		padding-top:20px;
		border:none;
		font-family:Montserrat;
		}
	#Indicator .name{	
		color:	#663399;
		font-weight:800;
		font-size:23px;
		}
	#Indicator .position{	
		color:#4a4a4a;
		font-size:20px;
		font-weight:500;
		line-height:1.5;
		}
	#Indicator .info{	
		color:#4a4a4a;
		font-size:16px;
		font-weight:500;
		padding-bottom:7px;
		}
	#Indicator .testimonial{	
		color:#A0A0A0;
		font-size:20px;
		line-height:1.5;
		font-weight:500;
		}	
	#Indicator .avatar .card-img-top{
		border-radius:50%;
		border: solid black 4px;
		height:80px;
		width:80px;
		}
	#testimonial .col-sm-9{
		background-color:white;
		border-radius:5%;
		box-shadow: 2px 2px 4px #666666;
		}
    #bottom-carousel .section-title{
		padding:20px;
		padding-bottom:30px;
        }
	.page-footer{
        background-color: #301b92;
        }